/data
/dist
/build
.war
.DS_Store
TEST-info*

/bin/conf/log4j.properties
/bin/conf/samples-servlet.xml
/bin/conf/springtest-applicationcontext.xml
/bin/conf/web.xml
/bin/data.xml
/bin/info/beverlyshill/samples/controller/PagesController.class
/bin/info/beverlyshill/samples/controller/PagesMobileController.class
/bin/info/beverlyshill/samples/controller/PagesMobileDataMgtController.class
/bin/info/beverlyshill/samples/controller/PagesMobileDataMgtSAXController.class
/bin/info/beverlyshill/samples/controller/PagesMobileDevelopmentController.class
/bin/info/beverlyshill/samples/controller/PagesMobileLoggingController.class
/bin/info/beverlyshill/samples/controller/PagesMobileSpecController.class
/bin/info/beverlyshill/samples/controller/PagesMobileStylingController.class
/bin/info/beverlyshill/samples/model/hibernate.cfg.xml
/bin/info/beverlyshill/samples/model/Pages.class
/bin/info/beverlyshill/samples/model/Pages.hbm.xml
/bin/info/beverlyshill/samples/model/PagesManager$1.class
/bin/info/beverlyshill/samples/model/PagesManager.class
/bin/info/beverlyshill/samples/model/PagesMobileManager$1.class
/bin/info/beverlyshill/samples/model/PagesMobileManager.class
/bin/info/beverlyshill/samples/test/CommonsLoggingTest.class
/bin/info/beverlyshill/samples/test/HibernateTest.class
/bin/info/beverlyshill/samples/test/PagesControllerTest.class
/bin/info/beverlyshill/samples/test/PagesManagerTest.class
/bin/info/beverlyshill/samples/test/PagesMobileControllerTest.class
/bin/info/beverlyshill/samples/test/PagesMobileDataMgtControllerTest.class
/bin/info/beverlyshill/samples/test/PagesMobileDevelopmentControllerTest.class
/bin/info/beverlyshill/samples/test/PagesMobileLoggingControllerTest.class
/bin/info/beverlyshill/samples/test/PagesMobileManagerTest.class
/bin/info/beverlyshill/samples/test/PagesMobileSpecControllerTest.class
/bin/info/beverlyshill/samples/test/PagesMobileStylingControllerTest.class
/bin/info/beverlyshill/samples/test/SimpleTest.class
/bin/info/beverlyshill/samples/test/SpringMessageTest.class
/bin/info/beverlyshill/samples/test/SpringTest.class
/bin/info/beverlyshill/samples/util/HibernateUtil.class
/bin/info/beverlyshill/samples/view/dataDevelopment.jsp
/bin/info/beverlyshill/samples/view/dataDevelopmentSAX.jsp
/bin/info/beverlyshill/samples/view/developmentSpecs.jsp
/bin/info/beverlyshill/samples/view/logging.jsp
/bin/info/beverlyshill/samples/view/pagesList.jsp
/bin/info/beverlyshill/samples/view/pagesListMobile.jsp
/bin/info/beverlyshill/samples/view/sampleSpec.jsp
/bin/info/beverlyshill/samples/view/styling.jsp
/bin/web/includes/bshMobile.css
/bin/web/includes/pagesList.js
/bin/web/includes/pagesListMobile.js
/bin/web/includes/sample.css
/bin/web/index.jsp
/samples.log
PagesMobileDataMgtSAXControllerTest.class
/bin/info/beverlyshill/samples/test/PagesMobileDataMgtSAXControllerTest.class
/cobertura.ser